# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Next.js build output
.next/
out/

# TypeScript build output
dist/
build/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.seeding_tmp

# Large files
*.csv
*.xlsx
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
